
<%= form_for @artpiece do |f| %>
  <div>

    <div class = "field">
      <img src = " <%= artpiece.image_url %>"
    </div>

    <div class = "field">
      <%= f.label :title %> <br>
    </div>

    <div class = "field">
      <%= f.label :artist %> <br>
    </div>

    <div class = "field">
      <%= f.label :style %> <br>
    </div>

    <div class = "field">
      <%= f.label :painting_id %> <br>
    </div>

</div>
