<%= form_for @artpiece, multipart:true do |f| %>
  <div>

    <div class = "field">
      <img src = " <%= artpiece.image_url %>"
    </div>

    <div class = "field">
      <%= f.label :title %> <br>
    </div>

    <div class = "field">
      <%= f.label :artist %> <br>
    </div>

    <div class = "field">
      <%= f.label :style %> <br>
    </div>

    <div class = "field">
      <%= f.label :artpiece_id %> <br>
    </div>

      <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control'%>
    </div>


  </div>

  <%= end %>
